extends layout

block content

    .film-header(style="background-image: url('/images/film-bg.jpg')")
      h1.film-title Fantastic Beasts and Where to Find Them
      .personal-buttons
        .button.watch-button Watch
          img(src="/images/play-button-white.svg")
        .button.favorite-button.active Favorite
          img(src="/images/star-white.svg")
    .film-page
      img(src="/images/films2.jpg").poster
      .film-info
        .film-raiting-info
          .raiting-info-item
            h3 Raiting
            p 8.3
          .raiting-info-item
            h3 Your Raiting
            p 9
        .top-film-info
          p 12+
          p 2h 13min
          p Adventure , Family , Fantasy
          p 17 November 2016
        .film-info-list
          h4 Stars
          p Eddie Redmayne, Katherine Waterston, Alison Sudol
          h4 Director
          p David Yates
          h4 Writer
          p J.K. Rowling 
        p.description In mid-20s New York, Newt Scamander, the British young activist wizard, arrives in town, holding a mysterious leather suitcase which shelters a wide array of diverse and magical creatures that exist among us. Amid an already fragile equilibrium of secrecy, and the increasing disasters ascribed to the dark wizard, Gellert Grindelwald, Newt's precious suitcase will be lost--and to make matters worse--several creatures will manage to escape. Before long, this situation will catch Senior Auror Percival Graves' attention who will target Newt, in the background of an invisible, devastating, and utterly unpredictable menace that still wreaks havoc on 5th Avenue. In the end, is there a hidden agenda behind Graves' intentions; moreover, what will happen to the remaining fantastic beasts still loose in the streets?
    .comments
      h2 Reviews
      - for (var x = 0; x < 25; x++)
        .comment-item 
          a(href="/profile").comment-author Jhon Black
          p.comment-data 22 november 2018
          p.comment-rating 7.5
            span /10
          p.commnet-title Best Movie
          p.comment-text «Богемная рапсодия» — автобиографическая, художественная картина. Можно сказать, что она получилась довольно спорной в силу того, что аудитория разделилась на несколько лагерей. Одни полностью поддерживают мысли по поводу её качества, а некоторые не согласны в корне. Что же получается? Получается большой ажиотаж. С учётом этого за первую неделю проката удалось собрать 150 миллионов долларов. Это внушительные цифры с опором на то, что было затрачено всего 50 миллионов. 
    .new-comment-form
      form.comment-form
        h2.comment-form-title New Comment 

        div.form-item
          label.form-item__label(for="comment-title") Title
          input.form-item__input(id="login", type="text", name="login") 

        div.form-item
          label.form-item__label(for="password") Password
          input.form-item__input(id="password", type="password", name="password") 
      
        input.form-item__input.form-item__input_button(id="submit", type="submit", name="password", value="LOG IN")       